	.urlToShare {
		align-self: flex-end;
		margin-right: 10px;
	}

	#sharedBy {
		color: #3c3c3b;
		font: 400 16px/24px Montserrat,sans-serif;
		font-weight: bold;
		letter-spacing: normal;
		font-style: italic;
	}
	
	.whoz-title {
		color: #001442;
		font: 900 45px/55px Montserrat,sans-serif;
		letter-spacing: normal;
		margin-left: 12px;
	}
	
	.whoz-sub-title {
		color: #3c3c3b;
		font: 400 16px/24px Montserrat,sans-serif;
		font-weight: bold;
		letter-spacing: normal;
		display: flex;
	}
	
	.whoz-description {
		font: 400 16px/24px Montserrat,sans-serif;
		letter-spacing: normal;
	}
	
	.showmore {
		cursor: pointer;
		font-weight: bold;
		font-size: 12px;
		margin-left: 12px;
	}

	.esn-block {
		border: 0.25rem solid #001442;
		max-width: 100%;
		width: 98%;
	}
	
	.chart-number {
		font-size: 32px;
		font-weight: 600;
		line-height: 27px;
	}
	
	.chart-number-small {
		font-size: 24px;
		font-weight: 600;
		line-height: 18px;
	}
	
	.esn {
		margin-left: 10px;
	}
	
	.chart-number-wrapper {
		display: flex;
	}
	
	.input-block {
		display: contents;
		margin-bottom: 10px;
	}
	
	.whoz-label {
		font-size: 11px!important;
		margin-bottom: 16px;
		color: #001442;
	}
	
	.input {
		width: 40px;
		font-weight: bold;
		font-size: 12px!important;
		margin-top: 0px!important;
		margin-bottom: 0px!important;
		padding-top: 0px!important;
		padding-bottom: 0px!important;
		color: green!important;
	}
	
	.hint {
		color: gray;
		position: absolute;
		transform: translate(-50px, 20px);
		font-size: 10px!important;
	}
	
	.billable {
		color: #0038a5;
	}
	
	.interco {
		color: #FFBE3E;
	}
	
	.whoz-price {
		color: #cccccc;
	}
	
	.on-boarding {
		color: #935116;
	}
	
	.shadow-staffing {
		color: #c51b8a
	}
	.lean-start {
		color: #117A65;
	}
	
	.lean-back {
		color: #CB4335;
	}
	
	.kpi {
		margin-right: 30px;
	}
	
	.line1 {
		width: 14%;
		height: 70px;
	}
	
	.line2 {
		width: 33%;
		height: 70px;
	}
	
	.line3 {
		width: 16%;
		height: 70px;
	}

	.line4 {
		width: 20%;
		height: 70px;
	}
	
    .heat-box {
        stroke: #ffffff;
        stroke-width: 1px;
    }
	
	.hideCompare {
		display: none;
	}
	
	.showCompare {
		display: block;
	}
	
	.kpi-compare {
		display: flex;
	}
	
	.whoz-button {
    background-color:#2863D1;
    border: #ffffff;
  	font-family: Arial, Geneva, Arial, Helvetica,  sans-serif;
	font-size: 15px;
    color: #fff;
    letter-spacing: 1px;
    padding: 4px 4px 4px 4px;
    font-size: 12px;
    font-weight: normal;
    border-radius: 4px;
    line-height: 1.5;
    text-decoration:none;
	margin-top: 20px;
	margin: auto;
	}
