	body {
		font-family: 'Montserrat', sans-serif;
	}
	
	.tips {
		align-self: center;
		margin-left: 15px;
		margin-bottom: 15px;
		padding: 10px;
		background-color: rgba(240, 206, 138, 0.425);
		display: none;
	}

	.urlToShare {
		align-self: flex-end;
		margin-right: 10px;
	}

	#sharedBy {
		color: #3c3c3b;
		font: 400 16px/24px;
		font-weight: bold;
		letter-spacing: normal;
		font-style: italic;
	}
	
	.whoz-title {
		color: #001442;
		font: 900 45px/55px;
		letter-spacing: normal;
		margin-left: 12px;
	}
	
	.whoz-sub-title {
		color: #3c3c3b;
		font: 400 16px/24px;
		font-weight: bold;
		letter-spacing: normal;
		display: flex;
	}
	
	.whoz-description {
		font: 400 16px/24px;
		letter-spacing: normal;
	}
	
	.showmore {
		cursor: pointer;
		font-weight: bold;
		font-size: 12px;
		margin-left: 12px;
	}

	.esn-block {
		border: 3px solid #001442;
		max-width: 100%;
		width: 98%;
	}
	
	.chart-big-number {
		font-size: 40px;
		font-weight: 600;
		line-height: 35px;
	}

	.chart-number {
		font-size: 32px;
		font-weight: 600;
		line-height: 27px;
	}
	
	.chart-number-small {
		font-size: 24px;
		font-weight: 600;
		line-height: 18px;
	}
	
	.esn {
		margin-left: 10px;
	}
	
	.chart-number-wrapper {
		display: flex;
	}
	
	.input-block {
		display: contents;
		margin-bottom: 10px;
	}
	
	.whoz-block-container {
		display: flex;
		padding-bottom: 10px;
	}

	.whoz-block {
		flex: 1;
		padding: 10px;
	}

	.whoz-label {
		font-size: 14px!important;
		margin-bottom: 16px;
		color: #001442;
		display: block;
	}
	
	.input {
		width: 40px;
		font-weight: bold;
		font-size: 12px!important;
		margin-top: 0px!important;
		margin-bottom: 0px!important;
		padding-top: 0px!important;
		padding-bottom: 0px!important;
		color: green!important;
	}
	
	.hint {
		color: gray;
		position: absolute;
		transform: translate(-50px, 20px);
		font-size: 10px!important;
	}
	
	.billable {
		color: #0038a5;
	}
	
	.interco {
		color: #FFBE3E;
	}
	
	.whoz-price {
		color: #cccccc;
	}
	
	.on-boarding {
		color: #9c6102;
	}
	
	.shadow-staffing {
		color: #c51b8a
	}
	.lean-start {
		color: #ff7600;
	}
	
	.lean-back {
		color: #3c3c3c;
	}
	
	.lean-pt {
		color: #6285c9;
	}

	.kpi {
		margin-right: 30px;
	}
	
	.line1 {
		width: 14%;
		height: 70px;
	}
	
	.line2 {
		width: 15%;
		height: 70px;
	}
	
	.interco-kpi-header {
		width: 11%;
		height: 70px;
	}

	.interco-kpi-content {
		width: 11%;
		height: 70px;
		display: flex;
    	align-items: center;
	}

	.line4 {
		width: 20%;
		height: 70px;
	}

	.line5 {
		width: 100%;
		height: 90px;
		width: 136px;
    	background-color: #001442;
	    color: #FFD47B;
    	padding: 5px;
	}
	
    .heat-box {
        stroke: #ffffff;
        stroke-width: 1px;
    }
	
	.hideCompare {
		display: none;
	}
	
	.showCompare {
		display: block;
	}
	
	.kpi-compare {
		display: flex;
	}
	
	.whoz-button {
	cursor: pointer;
    background-color:#ffffff;
	border:solid;
    color: #001442;
    letter-spacing: 1px;
    padding: 0px 8px 0px 8px;
    font-size: 15px;
    font-weight: normal;
    line-height: 3.5;
    text-decoration:none;
	margin: auto;
	}

	.whoz-main-button {
		cursor: pointer;
		background-color:#001442;
		border:solid;
		color: #fff;
		letter-spacing: 1px;
		padding: 0px 20px 0px 20px;
		font-size: 15px;
		font-weight: normal;
		line-height: 3.5;
		text-decoration:none;
		margin: auto;
		justify-content: flex-end;
		}
